<div class="container py-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= cl_image_tag @candle.photo.key, width: '100%' %>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1><%= @candle.name %></h1>
      <p>Some awesome description of our amazing candle.</p>
      <p>Amount: <%= humanized_money_with_symbol(@candle.price) %></p>
    </div>
  </div>
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'candle_id', @candle.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
</div>
